body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/images/bg.png);
    font-family: "Poppins", sans-serif;
    background-size: cover;
}
.container{
    width: 430px;
    height: 400px;
    background-color: rgba(95, 49, 6, 0.4);
    color: #fffdd0;
    margin-top: 20px;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    
}
.container h1{
    font-size: 20px;
    margin-top: 10px 0;

}
.container form{
    width: 100%;
}
form input{
    width: 70%;
    border: 0;
    outline: none;
    background: #fffdd0;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 15px;
    border-radius: 6px;
}
.btn{
    background: none;
    display: block;
    margin: 30px auto;
    width: 30%;
    border: 2px solid #fffdd0;
    border-radius: 20%;
    padding: 15px;
    font-size: 17px;
    text-decoration: none;
    color: #fffdd0;
    transition: background 0.5s;
    cursor: pointer;
}

.btn:hover{
    background: #5f3106;
    border: 2px solid white;
    border-radius: 20%;
    color: #fffdd0;
}
.bottom{
    padding: 20px;
}
@media only screen and (max-width: 600px){
    .container{
        width: 260px;
        height: 300px;
    }
    .container h1{
        font-size: 15px;
        margin-top: 10px 0;
    }
    form input{
        width: 65%;
        height: 13%;
        color: black;
        font-size: 12px;
    }
    .btn{
        font-size: 13px;
    }
}